body {
    background-color: #c7ddf0;
    /*#77A88D; #E0EDF0*/
}

.nav {
    height: 60px;
    /*#ac796d #61778a; #465A93 #43568A #304556 #cc7c3b #564030*/
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 1200px;
}

.taiwan {
    margin-left: 15px;
    font-size: 25px;
    font-family: 'Noto Sans TC Bold';
}

.container {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px #000 solid; */
}

.map {
    margin-left: 50px;
}

.iframeMap {
    height: 700px;
    width: 700px;
}

.weather {
    width: 450px;
}

.info {
    border: 3px #dac863 solid;
    /* #dac863 #304556*/
    margin: 0px 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(254, 251, 240, 0.6);
}

.info h2 {
    font-size: 30px;
    font-family: 'Noto Sans TC Bold';
    border-bottom: 2px solid #564030;
    padding-bottom: 8px;

}

.weatherDescription {
    font-size: 20px;

}

.weatherDescription p {
    margin-top: 10px;
}

.footer {
    background-color: #564030;
    justify-content: center;
    align-items: center;
    display:grid;
}

.footerContent {
    text-align: center;
    padding: 15px 0px;
    color: #fff;
    /* padding-bottom: 100px; */
}


@media(max-width:1200px) {
    .iframeMap {
        height: 500px;
        width: 500px;
    }

    .weather {
        width: 350px;
    }

}


@media(max-width:900px) {
    .iframeMap {
        height: 600px;
        width: 600px;
    }

    .data {
        display: block;
    }

    .map {
        margin-left: 0px;
    }

    .weather {
        width: 280px;
        display: inline-block;
        position: fixed;
        top: 400px;
        right: 5px;
    }

    .info h2 {
        font-size: 20px;

    }

    .weatherDescription {
        font-size: 15px;
    }

}


@media(max-width:600px) {
    .iframeMap {
        height: 360px;
        width: 360px;
    }

    .weather {
        width: 200px;
        top: 330px;
    }

    .info h2 {
        font-size: 18px;

    }

    .weatherDescription {
        font-size: 12px;
    }
}